<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <title>My Resume</title>
    <script src="https://use.fontawesome.com/25ee2529b6.js"></script>
</head>

<body>
    <div class="model"></div>
    <div></div>
    <div class="logocon">
        <a class="logo" href="/">Samuel Adekoya</a>
    </div>
    <img class="sam-pic" src="/flux pic.JPG" alt="" width="200px" />
    <h1 class="hello">Hello there</h1>
    <p class="about-me">
        My name is Samuel Adekoya and i build applications for the Web. I am a web developer with proficient knowledge in web development and design. I am also experienced in problem solving.
    </p>
    <div class="work-experience con">
        <h2 class="title">Work Experience</h2>
        <p class="job-title">Intern</p>
        <p class="job-meta">Modicson Trust (November 2019 - Febuary 2020)</p>
        <p class="description"></p>
        <p class="job-title">Platform assistant</p>
        <p class="job-meta">First City Monument Bank (FCMB) (Currently)</p>
        <p class="description"></p>
    </div>

    <div class="techStack con">
        <h2 class="title">Tech Stacks</h2>
        <p class="skill">-> HTML</p>
        <p class="skill">-> CSS</p>
        <p class="skill">-> Javascript</p>
        <p class="skill">-> Git</p>
        <p class="skill">-> Node JS</p>
        <p class="skill">-> React JS</p>
        <p class="skill">-> Next JS</p>
        <p class="skill">-> Mongodb</p>
    </div>

    <div class="skill-summary con">
        <h2 class="title">Skill Summary</h2>
        <p class="skill">-> Web development</p>
        <p class="skill">-> Graphics design</p>
        <p class="skill">-> Mobile phone and PC repair and maintenance</p>
    </div>

    <div class="education con">
        <h2 class="title">Educational History</h2>
        <p class="skill">
            Federal Polytechnic EKowe | 2018 - 2021 ->
            <span>National Diploma in Computer Science</span>
        </p>
        <p class="skill">
            Winners Internaional Academy | 2007 - 2018 ->
            <span>West African Examination Council</span>
        </p>
        <p class="skill"></p>
    </div>

    <div class="tranings con">
        <h2 class="title">Trainings</h2>
        <p class="skill">
            Phone Village, Yenagoa | 2016 - 2018 ->
            <span>Mobile Phone and PC repair and maintenance</span>
        </p>
    </div>

    <div class="hobies con">
        <h2 class="title">Hobbies</h2>
        <p class="skill">-> Programming</p>
        <p class="skill">-> Travelling</p>
        <p class="skill">-> Reading</p>
        <p class="skill">-> Taking challenges</p>
    </div>

    <div class="contact">
        <h1 class="contact-title">Get in touch</h1>
        <form action="/submit" method="post">
            <!-- <label for="name">Name</label> -->
            <input type="text" name="name" id="name" placeholder="name" required />
            <!-- <label for="name">Email</label> -->

            <input type="email" name="email" id="" placeholder="email" required />
            <!-- <input type="text" name="message" id="" class="message"> -->
            <textarea name="message" id="" cols="30" rows="5" placeholder="message" class="message" required></textarea>
            <input type="submit" />
        </form>
    </div>

    <div class="footer">
        <p class="footer-note">
            Designed and developed by <br /> Samuel Adekoya
        </p>

        <div class="logo-links">
            <a href="https://internship.zuri.team/"><img src="/hng.png" alt="hng" width="50px" /></a>

            <a href="https://training.zuri.team/">
                <img src="/zuri.png" alt="zuri" width="50px" />
            </a>

            <a href="https://ingressive.org/">
                <img src="/i4g.png" alt="i4g" width="50px" />
            </a>
        </div>
    </div>
</body>

</html>